.backgroundImg {
    width: 45%;
    height: 45%;
    margin-left: 880px;
    margin-top: 220px;

}

.divHome {
    width: 100%;
    height: 1000px;
}

.h2Home {
    position: absolute;
    left: 251px;
    top: 26rem;
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 76px;
    line-height: 50px;
    color: var(--secondary-color);
    z-index: 0;
}

h4 {
    position: absolute;
    left: 253px;
    top: 29rem;
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 36px;
    line-height: 50px;
    color: var(--main-color-white);
}