.app-header {
    padding: 0.75rem 10%;
    width: 100%;
    overflow: hidden;
    position: fixed;
    top: 0;
    left: 0;
    background: transparent;
    z-index: 100;
}

h1 {
    position: absolute;
    left: 254px;
    top: -2px;
    font-size: 44px;
    font-weight: 900;
    color: var(--main-color-white);
    font-family: Poppins;
}

h3 {
    position: absolute;
    left: 256px;
    top: 40px;
    font-style: normal;
    font-weight: normal;
    font-size: 15.1px;
    line-height: 35px;
    color: var(--secondary-color);
}

.logo {
    width: 55px;
    height: 50px;
}

.headerText {
    display: flex;
    justify-content:flex-end; 
}

.flex {
    display: flex;
    justify-content: space-between;
    align-items: center
}

a {
    color: var(--main-color-white);
    font-size: 20px;
    margin-left: 30px;
    text-decoration: none;
}

a:hover {
    color: var(--secondary-color);
}

